<?xml version="1.0" encoding="UTF-8" ?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Properties>
        <Property name="pattern"
                  value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} %M - %msg%n"/>
    </Properties>

    <Appenders>
        <Console name="consoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- 此处没有用异步日志的需要       -->
        <Root level="debug">
            <AppenderRef ref="consoleAppender"/>
        </Root>
    </Loggers>
</Configuration>